@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

// colors
$color-header-bg: #212200;
$color-header-font: #ccc;
$color-box-shadow: #aaa;
$color-box-shadow-hover: #444;

$color-red: #FB4432;
$color-black: #161616;
$color-gray: #8C8C8C;
$color-dark-gray: #4C4C4C;

// fonts
$font-family: 'Source Sans Pro', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// sizes
$font-size-small: 14px;
$font-size-common: 16px;
$font-size-big: 20px;

// gaps
$gap-header: 80px;